.sortable-grid {
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 480px) {
  .sortable-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}   

@media (min-width: 1200px) {
  .sortable-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}